.about-section {
  width: 100%;
  padding: 50px 20px; 
  box-sizing: border-box;
  text-align: center;
  color: white;
  padding-bottom: 13%;
}

.container {
  display: flex;
  justify-content: space-between;
  max-width: 1300px; /* Updated max-width */
  margin: 0 auto;
}

.vertical-title {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  padding-top: 20px;
  position: absolute;
  left: 0;
  top: 10%;
  transform: translateY(-50%);
  display: flex;
}

#title {
  font-size: 100px !important;
  width: 110px;
  opacity: 0;
  transition: opacity 0.5s ease; /* Add transition for opacity */
}

.about-section .show-title #title {
  opacity: 0.70;
}

.about-text {
  margin-top: 160px; /* Adjust as needed */
  font-size: 23px;
}

.about-line {
  display: none;
}

.about-line.visible {
  display: block;
  animation: fadeInOut 10s linear forwards;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  5%{
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Other styles */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Add your other styles here */
