@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.about-section {
  width: 100%;
  padding: 50px 20px; 
  box-sizing: border-box;
  text-align: center;
}

.container {
  max-width: 1300px; /* Updated max-width */
  margin: 0 auto;
}

#about {
  color: white;
}

#about-text {
  font-size: large;
}

.typewriter {
  padding-top: 2%;
  padding-bottom: 30%; /* Default padding for laptops and PCs */
  color: white;
  font-family: monospace;
  overflow: hidden;
  white-space: pre-line;
  margin: 0 auto;
  letter-spacing: .15em;
  word-wrap: break-word;
  font-size: 16px;
}

.typewriter:after {
  color: orange;
  content: "|";
  animation: blink-caret .75s step-end infinite;
}

@keyframes blink-caret {
  from, to { opacity: 1 }
  50% { opacity: 0 }
}

/* Media Queries for different screen sizes */
@media only screen and (max-width: 850px) {
  /* Tablets and iPads */
  .typewriter {
    padding-bottom: 75% !important; /* Added !important */
  }
}

@media only screen and (max-width: 480px) {
  /* Phones */
  .typewriter {
    padding-bottom: 160% !important; /* Added !important */
  }
}

