@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.about-section {
  width: 100%;
  padding: 50px 20px; 
  box-sizing: border-box;
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-between;
  max-width: 1300px; /* Updated max-width */
  margin: 0 auto;
}

.vertical-title {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  padding-top: 20px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
}

#title {
  font-size: 100px !important;
  width: 110px;
  opacity: 0;
  transition: opacity 0.5s ease; /* Add transition for opacity */
}

.about-section .show-title #title {
  opacity: 0.40;
}

#about {
  color: white;
}


.typewriter {
  padding-top: 20%;
  padding-bottom: 20%; /* Default padding for laptops and PCs */
  color: white;
  font-family: monospace;
  overflow: hidden;
  white-space: pre-line;
  margin: 0 auto;
  letter-spacing: .15em;
  word-wrap: break-word;
  font-size: 16px;
}

.typewriter:after {
  color: orange;
  content: "|";
  animation: blink-caret .75s step-end infinite;
}

@keyframes blink-caret {
  from, to { opacity: 1 }
  50% { opacity: 0 }
}

/* Media Queries for different screen sizes */
@media only screen and (max-width: 850px) {
  /* Tablets and iPads */
  .typewriter {
    padding-bottom: 75% !important; /* Added !important */
  }
}

@media only screen and (max-width: 480px) {
  /* Phones */
  .typewriter {
    padding-bottom: 160% !important; /* Added !important */
  }
}
