#Education {
  padding-top: 20%;
}

:root {
  --primary: #fafafa;
  --primary-gradient: linear-gradient(45deg, #153c7e00 0%, #00000000 100%);
}

.section-header {
  color: var(--primary);
  text-align: center;
}

.SectionHeaders {
  font-size: 1.8rem;
  font-weight: 800;
  margin-bottom: 1rem;

}

.steps {
  position: relative;
  margin-top: 2rem;
}

.steps .content p {
  color: var(--primary);
  font-size: 0.8rem;
  margin-bottom: 1rem; /* Added margin-bottom */
}

.contentHead {
  color: var(--primary);
  font-size: 1.4rem;
  margin-bottom: 1rem; /* Added margin-bottom */
}

.steps-container {
  position: relative;
  width: calc(50% + 32px);
  display: flex;
  flex-wrap: wrap; /* Added flex-wrap to allow items to wrap */
}

.steps-container .content {
  padding: 1rem; /* Adjusted padding */
  border-radius: 20px;
  width: 100%; /* Adjusted width */
}

.steps .steps-container:nth-child(even) {
  left: calc(50% - 32px);
  flex-direction: row-reverse;
}

.steps-container .university {
  font-weight: 1000;
  font-size: 0.6rem;
  color: var(--primary-gradient);
  margin-bottom: 10px;
  width: 62px;
  height: 62px;
  background-color: var(--primary);
  border-radius: 50%;
  flex-shrink: 0;
  align-items: center;
  display: flex;
  z-index: 777;
  transform: scale(2);
}

.step-line {
  width: 50px;
  height: 4px;
  margin-top: 31px;
  flex-shrink: 0;
}

@media (max-width: 767px) {
  .steps-container {
    left: 0;
    flex-direction: row-reverse;
    width: auto;
    margin-bottom: 16px;
  }

  .steps .steps-container:nth-child(even) {
    left: 0;
  }
}

@media (max-width: 415px) {
  .steps-container {
    width: 100%; /* Changed width to 100% */
  }
}
