/* Education.css */
.education-section {
  padding: 80px 0;
}

<<<<<<< HEAD
:root {
  --primary: #fafafa;
  --primary-gradient: linear-gradient(45deg, #153c7e00 0%, #00000000 100%);
=======
.container {
  max-width: 800px;
  margin: 0 auto;
>>>>>>> parent of c6f38c1 (#4 commit)
}

.container h2 {
  font-size: 36px;
  margin-bottom: 40px;
}

<<<<<<< HEAD
.SectionHeaders {
  font-size: 1.8rem;
  font-weight: 800;
  margin-bottom: 1rem;

}

.steps {
  position: relative;
  margin-top: 2rem;
}

.steps .content p {
  color: var(--primary);
  font-size: 0.8rem;
  margin-bottom: 1rem; /* Added margin-bottom */
}

.contentHead {
  color: var(--primary);
  font-size: 1.4rem;
  margin-bottom: 1rem; /* Added margin-bottom */
}

.steps-container {
  position: relative;
  width: calc(50% + 32px);
  display: flex;
  flex-wrap: wrap; /* Added flex-wrap to allow items to wrap */
}
#Education{
  background: rgba(0, 0, 0, 0.382);  
}
.steps-container .content {
  padding: 1rem; /* Adjusted padding */
  border-radius: 20px;
  width: 100%; /* Adjusted width */
}

.steps .steps-container:nth-child(even) {
  left: calc(50% - 32px);
  flex-direction: row-reverse;
}

.steps-container .university {
  font-weight: 1000;
  font-size: 0.6rem;
  color: var(--primary-gradient);
=======
.course {
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.course h3 {
  font-size: 24px;
>>>>>>> parent of c6f38c1 (#4 commit)
  margin-bottom: 10px;
  color: #007bff;
}

.course p {
  font-size: 16px;
  line-height: 1.6;
  color: #666;
}
