.language-switcher {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .language-switcher button {
    font-size: 16px;
    margin: 5px;
    padding: 8px 12px;
    cursor: pointer;
  }
 
  .language-button {
    border: none;
    padding: 15px 0px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; /* Add transition effect */
  }
  
  .language-button.en {
    color: white;
    background-color: 006AA7;
  }
  
  .language-button.sv {
    color: black;
    background-color:  #FECC02;
  }
  
  .language-button.en:hover {
    color: black;
    background-color: white;
  }
  
  .language-button.sv:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
  }
