/* Projects section */
#Projects {
  text-align: center;
  padding-top: 40%;
}

#projectsection {
  height: 600px;
}

.embed-responsive {
  height: 80%;
}

#nextandprev {
  animation-name: pulse;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes pulse {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media (max-width: 4351px) {
  #nextandprev {
    height: 10%;
    top: 350px;
    width: 5%;
  }

  #projectsection {
    height: 1000px;
  }
}

@media (max-width: 1351px) {
  #projectsection {
    height: 1000px;
  }

  .embed-responsive {
    height: 75%;
  }
}

@media (max-width: 1165px) {
  #projectsection {
    height: 900px;
  }

  .embed-responsive {
    height: 65%;
  }

  #nextandprev {
    top: 260px;
  }
}

@media (max-width: 900px) {
  #projectsection {
    height: 800px;
  }

  .embed-responsive {
    height: 60%;
  }

  #nextandprev {
    height: 10%;
    top: 215px;
    width: 5%;
  }
}

@media (max-width: 720px) {
  #projectsection {
    height: 750px;
  }

  .embed-responsive {
    height: 55%;
  }

  #nextandprev {
    top: 166px;
  }
}

@media (max-width: 550px) {
  #projectsection {
    height: 695px;
  }

  .embed-responsive {
    height: 42%;
  }

  #nextandprev {
    height: 17%;
    top: 113px;
  }
}

@media (max-width: 480px) {
  #projectsection {
    height: 600px;
  }

  .embed-responsive {
    height: 40%;
  }

  #nextandprev {
    height: 9%;
    top: 100px;
  }
}

@media (max-width: 426px) {
  #nextandprev {
    top: 99px;
  }
}

@media (max-width: 400px) {
  #projectsection {
    height: 550px;
  }

  .embed-responsive {
    height: 38%;
  }

  #nextandprev {
    top: 96px;
  }
}
