
body {
  margin: 0;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('Background.gif'); /* Background image */
  background-repeat: no-repeat; /* Prevent background from repeating */
  background-size: cover; /* Cover the entire viewport */
  
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@media (max-width: 768px) {
  body {
    background-size: contain; /* or any other suitable size */
  }
}
